


// ================================================================

// BUTTONS

// ================================================================



.c-button {

  --button-color:                           var(--color-contrast);
  --button-color-bg:                        var(--color-main);



  @include typo-copy;

  display: inline-block;

  border: 1px solid var(--button-color-bg);
  border-radius: var(--border-radius);
  padding: 0 1em;

  text-align: center;
  line-height: var(--size-touchable);
  text-decoration: none;
  white-space: nowrap;

  color: var(--button-color);
  background-color: var(--button-color-bg);

  transition: all var(--anim-dur) var(--anim-ease);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--button-color);
    color: var(--button-color-bg);
    background-color: var(--button-color);

    .c-button__icon {
      fill: var(--button-color-bg);
    }

    .c-button__text {
      color: var(--button-color-bg);
    }
  }

  &:active {
    border-color: var(--button-color-bg);
    color: var(--button-color-bg);
    background-color: var(--button-color);

    .c-button__icon {
      fill: var(--button-color-bg);
    }

    .c-button__text {
      color: var(--button-color-bg);
    }
  }

  .c-button__icon {
    fill: var(--button-color);
  }

  .c-button__text {
    color: var(--button-color);
  }
}



.c-button__flex {

  // NOTE: since html buttons can not be set to display: flex
  // we have to insert an extra div that works as flex container
  // -----------------------------------------------------------
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);

  transition: all var(--anim-dur) var(--anim-ease);
  pointer-events: none;
}



.c-button__icon {
  @include size(1.7em);

  padding: 0 0.3em;
}



.c-button__text {
  display: inline;
}



.c-button--100 {
  width: 100%;
}
