


// ================================================================

// DEMO PAGE STYLES

// ================================================================



.u-bg--main {
  background-color: var(--color-main);
}



.u-bg--contrast--light {
  background-color: var(--color-contrast-light);
}



.c-logo {
  @include size(4em);

  margin-right: 1em;



  &--dark {
    fill: var(--color-main);
  }



  &--light {
    fill: var(--color-contrast);
  }
}



.c-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0.3em;
  padding-bottom: 0.3em;

  color: var(--color-secondary);
  background-color: var(--color-primary);



  &__headline {
    font-family: headline, serif;
    margin-top: 1em;
    text-decoration: none;
    color: var(--color-contrast);
  }
}



.c-footer {
  @include typo-small;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 0;
  text-align: center;
  color: var(--color-primary);



  &--text {
    font-family: headline, serif;
    margin-top: 1em;
    color: var(--color-main);
  }
}
