


// ================================================================

// DEFAULT INPUT STYLES
// --------------------
// also contains styles for input labels

// ================================================================



:root {
  --input-border-width:                       1px;
  --input-border-radius:                      var(--border-radius);

  --input-border-color:                       var(--color-contrast);
  --input-border-color-focus:                 var(--color-main);

  --input-padding-x:                          0.3em;
  --input-padding-y:                          0.3em;

  --input-color:                              var(--color-main);
  --input-color-bg:                           var(--color-contrast-light);
  --input-color-placeholder:                  rgba(0, 0, 0, 0.25);

  --checkbox-color-bg-hover:                  var(--color-contrast);
  --checkbox-color-bg-checked:                var(--color-main);

  --radio-color-bg-hover:                     var(--color-contrast);
  --radio-color-bg-checked:                   var(--color-main);


  --color-label:                              var(--input-color);
}



// ----------------------------------------------------------------



// inputs & text areas
// -------------------
.c-input {
  @include typo-copy;

  // remove browser stylings
  // -----------------------
  appearance: none;
  outline: none;

  // apply own stylings
  // ------------------
  border-radius: var(--input-border-radius);
  border: var(--input-border-width) solid var(--input-border-color);
  width: 100%;
  padding: var(--input-padding-y) var(--input-padding-x);

  color: var(--color-copy);
  background-color: var(--input-color-bg);

  transition: border-color var(--anim-dur) var(--anim-ease);

  &::placeholder {
    color: var(--input-color-placeholder);
  }

  // focus state
  // -----------
  &:focus {
    border-color: var(--input-border-color-focus);
    shadow-box: none;

    // hide placeholder on focus
    // -------------------------
    &::placeholder {
      color: transparent;
    }
  }

  // hide ridiculous chrome spinner in date inputs
  // ---------------------------------------------
  &::-webkit-inner-spin-button {
    display: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

