


// ================================================================

// MODULE 'INTRO' FOR HEADLINES, SUBLINES AND ABSTRACTS

// ================================================================



.c-intro {
  padding-bottom: 1em;

  // this module should definitely contain one <h2>
  // but we cannot be sure about other headlines <h3> to <h6>
  // so we have to reverse concept of spaces between elements:
  // in this module every additional headine brings its own top space!
  // -----------------------------------------------------------------

  h2 {
    margin-bottom: 0;
  }

  h3,
  h4,
  h5,
  h6 {
    padding-top: 0.5em;
  }
}
