


// ================================================================

// DEFAULT LINK STYLES

// ================================================================



// default
// -------
.c-link {
  color: var(--color-link);

  // hover state only in desktop view
  // --------------------------------
  @include vp-large-up {

    &:hover {
      color: var(--color-link-hover);
      text-decoration: underline;
    }
  }



  &--neutral {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
