


// ================================================================

// LIST STYLES

// ================================================================



ul,
ol {
  --li-space-top: 0.5em;
  --li-space-left: 1.5em;
}



// browser standard lists
// ----------------------
.c-list {
  margin: 1em 0 0;
  padding-left: var(--li-space-left);

  li {
    margin-top: var(--li-space-top);
    list-style: outside disc;
  }



  &--decimal {
    display: table;
    margin: 1em 0 0;
    padding: 0;
    counter-reset: olc;

    li {
      position: relative;
      padding-top: var(--li-space-top);
      padding-left: var(--li-space-left);
      list-style: none;
      counter-increment: olc;

      &:before {
        @include absolute(top var(--li-space-left) left 0);

        content: counter(olc) ".";
        text-align: right;
      }
    }
  }



  &--icon {
    margin: 1em 0 0;
    padding-left: 0;

    li {
      position: relative;
      margin-top: var(--li-space-top);
      padding-left: var(--li-space-left);
      list-style: none;
    }

    svg {
      @include absolute(top 0.4em left 0);
      @include size(0.8em);

      fill: var(--color-main);
    }
  }
}
