


// ================================================================

// PAGINATION STYLES

// ================================================================



.c-pagination {
  display: inline-flex;
  justify-content: space-between;



  &__item {
    @include size(var(--size-touchable));

    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }



  &__link {
    @include size(100%);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-main);
    text-decoration: none;
    color: var(--color-main);
    background-color: var(--color-contrast-light);

    transition: all var(--anim-dur) var(--anim-ease);

    &.is-active,
    &:hover {
      color: var(--color-contrast);
      background-color: var(--color-main);
    }

    &.is-inactive {
      border-color: shade(white, 20);
      color: shade(white, 20);
      background-color: shade(white, 3);

      pointer-events: none;
    }
  }
}
