


// ================================================================

// PAGINATION STYLINGS

// ================================================================



.c-pagination {
  display: inline-flex;
  justify-content: space-between;
}



.c-pagination__item {
  @include size(var(--size-touchable));

  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}



.pagination__link {
  @include size(100%);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-main);
  color: var(--color-main);
  text-decoration: none;

  transition: all var(--anim-dur) var(--anim-ease);

  &.is-active,
  &:hover {
    color: white;
    background-color: var(--color-main);
  }

  &.is-inactive {
    border-color: tint(black, 80);
    color: tint(black, 80);

    pointer-events: none;
  }
}
