


// ================================================================

// PURE CSS SPINNER

// ================================================================



.has-spinner {

  --spinner-size:                           60px;
  --spinner-track-size:                     10px;
  --spinner-color-track:                    var(--color-contrast);
  --spinner-color-section:                  var(--color-main);



  position: relative;



  // colored overlay for element with spinner
  // ----------------------------------------
  &:before {
    @include absolute(top 0 right 0 bottom 0 left 0);

    z-index: var(--z-overlays);
    content: '';
    background-color: rgba(black, 0.5);
  }



  // spinner element
  // ---------------
  &:after {
    @include size(var(--spinner-size));

    position: absolute;
    top: calc(50% - (var(--spinner-size) / 2));
    left: calc(50% - (var(--spinner-size) / 2));

    z-index: var(--z-overlays);

    border: var(--spinner-track-size) solid var(--spinner-color-track);
    border-top: var(--spinner-track-size) solid var(--spinner-color-section);
    border-radius: 50%;

    content: '';

    transform: translate(-50%, -50%);
    animation: spin 0.4s linear infinite;
  }
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
