{
  "name": "FEE4.0",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "Scss/partials/vendor/owl/_autoheight.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_autoheight.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_autoheight.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_totop.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_totop.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_totop.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_dates.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_dates.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_dates.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/owl.carousel.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/owl.carousel.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/owl.carousel.css\"}"
    },
    {
      "path": "Css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"Css/main.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"Css/main-dist.css\"}"
    },
    {
      "path": "JavaScript/custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"path\":\"JavaScript/custom.js\",\"mangle\":false}}"
    },
    {
      "path": "JavaScript/isInViewport.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/isInViewport.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/isInViewport.min-dist.js\"}"
    },
    {
      "path": "JavaScript/jquery-2.1.4.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/jquery-2.1.4.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/jquery-2.1.4.min-dist.js\"}"
    },
    {
      "path": "JavaScript/jquery.magnific-popup.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/jquery.magnific-popup.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/jquery.magnific-popup.min-dist.js\"}"
    },
    {
      "path": "JavaScript/owl.carousel.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/owl.carousel.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/owl.carousel.min-dist.js\"}"
    },
    {
      "path": "JavaScript/show_viewportsize.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/show_viewportsize.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/show_viewportsize-dist.js\"}"
    },
    {
      "path": "JavaScript/svg4everybody.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/svg4everybody.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/svg4everybody-dist.js\"}"
    },
    {
      "path": "Scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"Css/main.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"Scss/main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "Scss/partials/_colors.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/_colors.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_colors.css\"}"
    },
    {
      "path": "Scss/partials/_typo.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/_typo.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_typo.css\"}"
    },
    {
      "path": "JavaScript/vex.combined.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/vex.combined.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/vex.combined.min-dist.js\"}"
    },
    {
      "path": "Images/img_content_1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_content_1.jpg\",\"size\":173291,\"initialSize\":173291,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_content_3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_content_3.jpg\",\"size\":40986,\"initialSize\":40986,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_content_2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_content_2.jpg\",\"size\":78563,\"initialSize\":78563,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_mainstage_1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_mainstage_1.jpg\",\"size\":899470,\"initialSize\":899470,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_mainstage_2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_mainstage_2.jpg\",\"size\":396294,\"initialSize\":396294,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_1.jpg\",\"size\":35695,\"initialSize\":35695,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_4.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_4.jpg\",\"size\":46025,\"initialSize\":46025,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_3.jpg\",\"size\":32240,\"initialSize\":32240,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_6.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_6.jpg\",\"size\":34500,\"initialSize\":34500,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_2.jpg\",\"size\":15901,\"initialSize\":15901,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_news_5.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_news_5.jpg\",\"size\":32576,\"initialSize\":32576,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_content_5.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_content_5.jpg\",\"size\":201354,\"initialSize\":201354,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_content_4.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_content_4.jpg\",\"size\":85979,\"initialSize\":85979,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "JavaScript/jquery-3.1.1.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/jquery-3.1.1.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/jquery-3.1.1.min-dist.js\"}"
    },
    {
      "path": "Images/img_parallax_bg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_parallax_bg.jpg\",\"size\":646656,\"initialSize\":646656,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "JavaScript/parallax.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/parallax.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/parallax.min-dist.js\"}"
    },
    {
      "path": "Scss/partials/_settings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/_settings.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_settings.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_footer.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_footer.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_footer.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_googlemap.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_googlemap.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_googlemap.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_promo.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_promo.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_promo.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_search.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_search.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_search.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_search_results.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_search_results.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_search_results.css\"}"
    },
    {
      "path": "Scss/partials/navigation/_navigation.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/navigation/_navigation.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/navigation/_navigation.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_contact_persons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_contact_persons.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_contact_persons.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_gallery.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_gallery.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_gallery.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_news_detail.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_news_detail.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_news_detail.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_news_list.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_news_list.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_news_list.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_parallax.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_parallax.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_parallax.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_stage_main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_stage_main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_stage_main.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_news_slider.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_news_slider.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_news_slider.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_news_overview.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_news_overview.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_news_overview.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_stage_sub.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_stage_sub.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_stage_sub.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_textmedia.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_textmedia.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_textmedia.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/owl.theme.default.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/owl.theme.default.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/owl.theme.default.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_core.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_core.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_core.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_lazyload.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_lazyload.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_lazyload.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_theme.green.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_theme.green.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_theme.green.css\"}"
    },
    {
      "path": "Scss/partials/vendor/vex/_keyframes.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/vex/_keyframes.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/vex/_keyframes.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_video.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_video.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_video.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_theme.default.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_theme.default.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_theme.default.css\"}"
    },
    {
      "path": "Scss/partials/vendor/vex/_mixins.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/vex/_mixins.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/vex/_mixins.css\"}"
    },
    {
      "path": "Scss/partials/vendor/vex/_vex.theme.default.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/vex/_vex.theme.default.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/vex/_vex.theme.default.css\"}"
    },
    {
      "path": "Scss/partials/vendor/vex/_vex.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/vex/_vex.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/vex/_vex.css\"}"
    },
    {
      "path": "Scss/partials/basic/_layout_basics.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/_layout_basics.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/_layout_basics.css\"}"
    },
    {
      "path": "Scss/partials/basic/_mixin_grid.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/_mixin_grid.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/_mixin_grid.css\"}"
    },
    {
      "path": "Scss/partials/basic/_layout_client.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/_layout_client.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/_layout_client.css\"}"
    },
    {
      "path": "Scss/partials/basic/_mixin_helpers.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/_mixin_helpers.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/_mixin_helpers.css\"}"
    },
    {
      "path": "Scss/partials/basic/_mixin_mediaqueries.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/_mixin_mediaqueries.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/_mixin_mediaqueries.css\"}"
    },
    {
      "path": "Scss/partials/basic/__normalize.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/basic/__normalize.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/basic/__normalize.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_buttons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_buttons.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_buttons.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_forms.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_forms.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_forms.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_lightbox_overlay.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_lightbox_overlay.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_lightbox_overlay.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_tables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_tables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_tables.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_lists.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_lists.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_lists.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/owl.theme.green.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/owl.theme.green.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/owl.theme.green.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_animate.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_animate.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_animate.css\"}"
    },
    {
      "path": "Scss/partials/vendor/owl/_theme.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/owl/_theme.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/owl/_theme.css\"}"
    },
    {
      "path": "Scss/partials/vendor/animate/_animate.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/animate/_animate.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/animate/_animate.css\"}"
    },
    {
      "path": "Scss/partials/vendor/animate/_animate_all.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/animate/_animate_all.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/animate/_animate_all.css\"}"
    },
    {
      "path": "Scss/partials/vendor/magnific_popup/_magnific_popup.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/vendor/magnific_popup/_magnific_popup.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/vendor/magnific_popup/_magnific_popup.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_images.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_images.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_images.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_tabs.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_tabs.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_tabs.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_pagination.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_pagination.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_pagination.css\"}"
    },
    {
      "path": "Images/img_contact_1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_contact_1.jpg\",\"size\":51592,\"initialSize\":51592,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_contact_2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_contact_2.jpg\",\"size\":33925,\"initialSize\":33925,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Images/img_contact_3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_contact_3.jpg\",\"size\":25411,\"initialSize\":25411,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "JavaScript/ofi.browser.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/ofi.browser.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/ofi.browser-dist.js\"}"
    },
    {
      "path": "Scss/partials/elements_ui/textmarker.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/textmarker.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/textmarker.css\"}"
    },
    {
      "path": "Scss/partials/elements_ui/_accordion.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_accordion.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_accordion.css\"}"
    },
    {
      "path": "Images/img_mainstage_3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_mainstage_3.jpg\",\"size\":762024,\"initialSize\":762024,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Scss/partials/elements_ui/_background_row.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_ui/_background_row.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_ui/_background_row.css\"}"
    },
    {
      "path": "Images/img_row_bg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"Images/img_row_bg.jpg\",\"size\":377060,\"initialSize\":377060,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "Scss/partials/elements_content/_mediabox.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_mediabox.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_mediabox.css\"}"
    },
    {
      "path": "Scss/partials/elements_content/_push.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"Scss/partials/elements_content/_push.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/elements_content/_push.css\"}"
    },
    {
      "path": "JavaScript/custom-dist.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"JavaScript/custom-dist.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"JavaScript/custom-dist-dist.js\"}"
    },
    {
      "path": "scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"outputSuffix\":null}"
    },
    {
      "path": "js/custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"_min\",\"compiler-javascript\":{\"mangle\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "Scss",
      "JavaScript",
      "scss",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/main.scss",
      "imports": [
        "scss/partials/basic/__normalize.scss",
        "scss/partials/basic/__normalize_fee.scss",
        "scss/partials/basic/_mixin_mediaqueries.scss",
        "scss/partials/basic/_mixin_helpers.scss",
        "scss/partials/basic/_mixin_respfont.scss",
        "scss/partials/_settings.scss",
        "scss/partials/_colors.scss",
        "scss/partials/_typo.scss",
        "scss/partials/basic/_layout_basics.scss",
        "scss/partials/basic/_mixin_grid.scss",
        "scss/partials/navigation/_navigation_icons.scss",
        "scss/partials/navigation/_navigation_main_mobile.scss",
        "scss/partials/navigation/_navigation_main_desktop.scss",
        "scss/partials/elements/_buttons.scss",
        "scss/partials/elements/_links.scss",
        "scss/partials/elements/_lists.scss",
        "scss/partials/elements/_tables.scss",
        "scss/partials/elements/_images.scss",
        "scss/partials/elements/_intro.scss",
        "scss/partials/elements/_text.scss",
        "scss/partials/elements/_gallery.scss",
        "scss/partials/elements/_tabs.scss",
        "scss/partials/elements/_accordion.scss",
        "scss/partials/elements/_forms_inputs.scss",
        "scss/partials/elements/_forms_inputs_selects.scss",
        "scss/partials/elements/_forms_inputs_radiocheck.scss",
        "scss/partials/elements/_forms_inputs_invalid.scss",
        "scss/partials/elements/_forms_inputs_units.scss",
        "scss/partials/elements/_forms_inputs_rangeslider.scss",
        "scss/partials/elements/_forms_layout.scss",
        "scss/partials/elements/_pagination.scss",
        "scss/partials/elements/_totop.scss",
        "scss/partials/elements/_overlays_page.scss",
        "scss/partials/elements/_overlays_images.scss",
        "scss/partials/elements/_tooltips.scss",
        "scss/partials/elements/_modals.scss",
        "scss/partials/elements/_spinner.scss",
        "scss/partials/vendor/owl/owl.carousel.scss",
        "scss/partials/vendor/owl/owl.theme.default.scss",
        "scss/partials/vendor/smartphoto/smartphoto.scss",
        "scss/partials/vendor/cookieconsent/_cookieconsent.scss"
      ]
    },
    {
      "path": "js/custom.js",
      "imports": [
        "js/vendor/jquery-3.2.1.min.js",
        "js/vendor/ofi.browser.js",
        "js/vendor/svg4everybody.js",
        "js/vendor/jquery-smartphoto.min.js",
        "js/vendor/owl.carousel.min.js",
        "js/vendor/isInViewport.min.js",
        "js/partials/_fee_func_basic.js",
        "js/partials/_fee_func_common.js",
        "js/partials/_fee_func_forms.js",
        "js/partials/_fee_init.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7892,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"replaceSegments\":[]},\"outputSuffix\":\"_min\",\"autoCompile\":false,\"compiler-javascript\":{\"mangle\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}
