


// ================================================================

// PROJECT TYPOGRAPHY STYLES

// ================================================================



// set fontstacks for native OS system fonts
// -----------------------------------------

// light
// -----
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// light italic
// ------------
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

// regular
// -------
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

// regular italic
// --------------
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

// medium
// ------
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

// medium italic
// -------------
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

// bold
// ----
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

// bold italic
// -----------
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}



// -----------------------------------------------------------------------



// use special web font for headlines
// ----------------------------------
@font-face {
  font-family: headline;
  src: url('#{$path-fonts}sidhn___-webfont.woff2') format('woff2'),
    url('#{$path-fonts}sidhn___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// -----------------------------------------------------------------------



// set system ui font weights
// --------------------------
@mixin typo-light {
  font-family: system-ui;
  font-weight: 300;
}

@mixin typo-regular {
  font-family: system-ui;
  font-weight: 400;
}

@mixin typo-medium {
  font-family: system-ui;
  font-weight: 500;
}

@mixin typo-bold {
  font-family: system-ui;
  font-weight: 700;
}

@mixin typo-small {
  font-size: 12px;
}



// -----------------------------------------------------------------------



// set styles for default font roles
// ---------------------------------
@mixin typo-copy-commons {
  font-size: var(--fontsize-copy);
  line-height: 1.3;
}

@mixin typo-copy-light {
  @include typo-light;
  @include typo-copy-commons;
}

@mixin typo-copy {
  @include typo-regular;
  @include typo-copy-commons;
}

@mixin typo-copy-medium {
  @include typo-medium;
  @include typo-copy-commons;
}

@mixin typo-copy-bold {
  @include typo-bold;
  @include typo-copy-commons;
}



// -----------------------------------------------------------------------



// set styles for default headlines
// --------------------------------
@mixin typo-headline-1 {
  @include responsive-font(6vw, 36px, 64px);

  font-family: 'headline', sans-serif;
  line-height: 1;
  color: var(--color-main);
}

@mixin typo-headline-2 {
  @include responsive-font(4.5vw, 26px, 45px);

  font-family: 'headline', sans-serif;
  line-height: 1;
}

@mixin typo-headline-3 {
  @include responsive-font(2.5vw, 18px, 23px);

  font-family: 'headline', sans-serif;
  line-height: 1;
}



// -----------------------------------------------------------------------



// bind tags to default typo styles
// --------------------------------
body {
  @include typo-copy;

  color: var(--color-copy);
}

b,
strong {
  @include typo-copy-bold;
}

small {
  @include typo-small;
}

h1 {
  @include typo-headline-1;
}

h2 {
  @include typo-headline-2;
}

h3 {
  @include typo-headline-3;
}



// -----------------------------------------------------------------------



// UTILITY TYPOGRAPHY CLASSES
// ==========================
.u-copy {
  @include typo-copy;
}

.u-copy--light {
  @include typo-copy-light;
}

.u-copy--medium {
  @include typo-copy-medium;
}

.u-copy--bold {
  @include typo-copy-bold;
}
