


// ================================================================

// BASIC LAYOUT FILE
// -----------------
// this file contains very fundamental page layout styles
// that normally should not be changed for client's pages

// ================================================================



// basic layout: header, content, footer
// -------------------------------------
body {
  display: grid;
  grid-gap: 0;

  grid-template-areas:
    'page-header'
    'page-content'
    'page-footer';

  grid-template-rows: auto 1fr auto;
}



.l-wrapper-header {
  grid-area: page-header;
}



.l-wrapper-content {
  grid-area: page-content;
}



.l-wrapper-footer {
  grid-area: page-footer;
}



// ----------------------------------------------------------------



// layout rows
// -----------
.l-row {
  position: relative;

  display: grid;
  grid-gap: 0;

  grid-template-areas: 'row-space-left row-content row-space-right';

  grid-template-columns:
    minmax(var(--layout-space-x), 1fr)
    minmax(var(--content-minwidth), var(--content-maxwidth))
    minmax(var(--layout-space-x), 1fr);
}




// ----------------------------------------------------------------



// content layouts
// ---------------
.l-content {
  position: relative;
  display: block;
}



.l-content--centered {
  grid-area: row-content;
  justify-items: stretch;
  align-items: stretch;
}



.l-content--fullwidth {
  grid-column: 1 /span 3;
  justify-items: stretch;
  align-items: stretch;
}



// ----------------------------------------------------------------



// grid elements
// -------------
.l-grid {
  grid-gap: var(--grid-gutter-column) var(--grid-gutter-row);



  &--form {
    @include grid(1, 1, 2, 2, 2);
  }
}



// ----------------------------------------------------------------



// UTILITY LAYOUT CLASSES
// ======================

// default vertical content space
// ------------------------------
.u-spaceTop {
  margin-top: var(--content-space-y) !important;
}



.u-spaceBottom {
  margin-bottom: var(--content-space-y) !important;
}



.u-spaceTopBottom {
  margin-top: var(--content-space-y) !important;
  margin-bottom: var(--content-space-y) !important;
}
